<div class="modal-body" id="resident-card-template-doc">
  <div _ngcontent-ng-c3962699040="" class="resident-card">
    <div
      _ngcontent-ng-c3962699040=""
      class="resident-card__header"
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #50cd89;
        margin-bottom: 10px;
      "
    >
      <div _ngcontent-ng-c3962699040="">
        <svg
          _ngcontent-ng-c3962699040=""
          fill="none"
          height="65"
          viewBox="0 0 338 86"
          width="200"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            _ngcontent-ng-c3962699040=""
            d="M79.5734 42.6925C79.5734 49.729 77.4521 56.6074 73.4777 62.458C69.5033 68.3085 63.8544 72.8685 57.2452 75.5612C50.6361 78.254 43.3635 78.9585 36.3473 77.5858C29.3311 76.213 22.8862 72.8247 17.8278 67.8492C12.7694 62.8736 9.32451 56.5345 7.92889 49.6332C6.53328 42.732 7.24956 35.5787 9.98716 29.0779C12.7248 22.5771 17.3607 17.0207 23.3088 13.1115C29.2569 9.20227 36.25 7.11572 43.4037 7.11572C48.1536 7.11572 52.8569 8.03594 57.2452 9.82385C61.6336 11.6117 65.6209 14.2323 68.9796 17.5359C72.3382 20.8395 75.0025 24.7615 76.8202 29.0779C78.6379 33.3943 79.5734 38.0205 79.5734 42.6925ZM52.4461 16.0099C47.0808 16.0099 41.836 17.5748 37.375 20.5068C32.9139 23.4387 29.4369 27.6059 27.3837 32.4816C25.3305 37.3572 24.7933 42.7221 25.84 47.8981C26.8867 53.074 29.4704 57.8284 33.2642 61.56C37.058 65.2916 41.8916 67.8329 47.1538 68.8625C52.416 69.892 57.8704 69.3636 62.8273 67.3441C67.7842 65.3245 72.0209 61.9045 75.0017 57.5166C77.9824 53.1287 79.5734 47.9699 79.5734 42.6925C79.5734 35.6159 76.7154 28.829 71.628 23.8251C66.5407 18.8211 59.6407 16.0099 52.4461 16.0099Z"
            fill="#50CD89"
          ></path>
          <path
            _ngcontent-ng-c3962699040=""
            d="M79.574 42.6924C79.574 47.9697 77.983 53.1285 75.0022 57.5164C72.0214 61.9044 67.7847 65.3244 62.8279 67.3439C57.871 69.3634 52.4166 69.8918 47.1544 68.8623C41.8922 67.8327 37.0586 65.2915 33.2648 61.5598C29.4709 57.8282 26.8873 53.0738 25.8406 47.8979C24.7939 42.722 25.3311 37.357 27.3843 32.4814C29.4375 27.6058 32.9145 23.4385 37.3755 20.5066C41.8366 17.5747 47.0814 16.0098 52.4467 16.0098C59.6413 16.0098 66.5412 18.821 71.6286 23.8249C76.716 28.8289 79.574 35.6157 79.574 42.6924ZM43.4042 24.904C39.8274 24.904 36.3309 25.9472 33.3568 27.9019C30.3828 29.8565 28.0648 32.6346 26.696 35.885C25.3272 39.1355 24.969 42.7121 25.6668 46.1627C26.3647 49.6133 28.0871 52.7829 30.6163 55.2707C33.1455 57.7584 36.3679 59.4526 39.876 60.139C43.3842 60.8254 47.0204 60.4731 50.325 59.1267C53.6296 57.7804 56.4541 55.5004 58.4413 52.5751C60.4285 49.6498 61.4891 46.2106 61.4891 42.6924C61.4891 37.9746 59.5838 33.45 56.1922 30.1141C52.8006 26.7781 48.2006 24.904 43.4042 24.904Z"
            fill="#50CD89"
            opacity="0.3"
          ></path>
          <path
            _ngcontent-ng-c3962699040=""
            d="M120.04 29.6854V34.2019H112.409V55.1924H107.045V34.2019H99.3787V29.6854H120.04ZM133.832 55.9019C130.187 55.9019 127.401 54.9097 125.474 52.9255C122.89 50.4913 121.598 46.9842 121.598 42.4043C121.598 37.732 122.89 34.225 125.474 31.8831C127.401 29.8988 130.187 28.9067 133.832 28.9067C137.478 28.9067 140.264 29.8988 142.19 31.8831C144.763 34.225 146.049 37.732 146.049 42.4043C146.049 46.9842 144.763 50.4913 142.19 52.9255C140.264 54.9097 137.478 55.9019 133.832 55.9019ZM138.868 49.0493C140.102 47.4918 140.719 45.2769 140.719 42.4043C140.719 39.5433 140.096 37.334 138.85 35.7766C137.616 34.2077 135.943 33.4232 133.832 33.4232C131.721 33.4232 130.037 34.2019 128.779 35.7593C127.522 37.3167 126.893 39.5317 126.893 42.4043C126.893 45.2769 127.522 47.4918 128.779 49.0493C130.037 50.6067 131.721 51.3854 133.832 51.3854C135.943 51.3854 137.622 50.6067 138.868 49.0493ZM168.182 55.1924H148.333V50.6932L161.502 34.2019H148.662V29.6854H168.147V33.9596L154.805 50.6932H168.182V55.1924ZM186.732 49.9491H177.336L175.571 55.1924H169.999L179.101 29.6854H185.123L194.156 55.1924H188.376L186.732 49.9491ZM185.244 45.5537L182.06 35.5171L178.772 45.5537H185.244ZM210.838 55.1924H205.871V29.6854H213.624L218.261 49.7414L222.864 29.6854H230.53V55.1924H225.564V37.9397C225.564 37.4436 225.57 36.7515 225.581 35.8632C225.593 34.9633 225.598 34.2711 225.598 33.7866L220.77 55.1924H215.596L210.803 33.7866C210.803 34.2711 210.809 34.9633 210.82 35.8632C210.832 36.7515 210.838 37.4436 210.838 37.9397V55.1924ZM250.413 49.9491H241.017L239.252 55.1924H233.68L242.782 29.6854H248.804L257.837 55.1924H252.057L250.413 49.9491ZM248.925 45.5537L245.741 35.5171L242.453 45.5537H248.925ZM283.69 55.1924H276.837L268.964 44.0482L266.42 46.6612V55.1924H261.177V29.6854H266.42V40.1893L276.266 29.6854H283.153L272.701 40.1893L283.69 55.1924ZM297.983 55.9019C294.338 55.9019 291.552 54.9097 289.625 52.9255C287.041 50.4913 285.749 46.9842 285.749 42.4043C285.749 37.732 287.041 34.225 289.625 31.8831C291.552 29.8988 294.338 28.9067 297.983 28.9067C301.629 28.9067 304.415 29.8988 306.342 31.8831C308.914 34.225 310.201 37.732 310.201 42.4043C310.201 46.9842 308.914 50.4913 306.342 52.9255C304.415 54.9097 301.629 55.9019 297.983 55.9019ZM303.019 49.0493C304.253 47.4918 304.871 45.2769 304.871 42.4043C304.871 39.5433 304.248 37.334 303.002 35.7766C301.767 34.2077 300.095 33.4232 297.983 33.4232C295.872 33.4232 294.188 34.2019 292.931 35.7593C291.673 37.3167 291.044 39.5317 291.044 42.4043C291.044 45.2769 291.673 47.4918 292.931 49.0493C294.188 50.6067 295.872 51.3854 297.983 51.3854C300.095 51.3854 301.773 50.6067 303.019 49.0493ZM334.911 55.1924H329.582L319.164 37.0745V55.1924H314.198V29.6854H319.787L329.945 47.4918V29.6854H334.911V55.1924Z"
            fill="#50CD89"
          ></path>
        </svg>
      </div>
      <p _ngcontent-ng-c3962699040="" style="font-size: 20px; color: #50cd89">
        <b _ngcontent-ng-c3962699040=""><%= companyName %></b>
      </p>
    </div>
    <div _ngcontent-ng-c3962699040="" style="margin-top: 15px; display: flex">
      <ul
        _ngcontent-ng-c3962699040=""
        style="width: 80%; list-style-type: none"
      >
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Hisob raqam: </span
          ><span _ngcontent-ng-c3962699040="" class="value"
            ><%= accountNumber %></span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Abonent F.I.Sh: </span
          ><span _ngcontent-ng-c3962699040="" class="value"
            ><%= fullName %></span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Manzil:</span
          ><span _ngcontent-ng-c3962699040="" class="value">
            <%= mahallaName %>
          </span>
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Shartnoma sanasi:</span
          ><span _ngcontent-ng-c3962699040="" class="value"
            ><%= contractDate %></span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Davr oxiriga saldo: </span
          ><span _ngcontent-ng-c3962699040="" class="value">
            <%= currentKSaldo %>
            <!----><!----></span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Davr: </span
          ><span _ngcontent-ng-c3962699040="" class="value"
            ><%= currentPeriod %></span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Yashovchilar soni: </span
          ><span _ngcontent-ng-c3962699040="" class="value"
            ><%= inhabitantCnt %></span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Telefon: </span
          ><span _ngcontent-ng-c3962699040="" class="value"><%= phone %></span>
        </li>
      </ul>
    </div>
    <div _ngcontent-ng-c3962699040="">
      <p
        _ngcontent-ng-c3962699040=""
        style="border-bottom: 1px solid #50cd89; padding-bottom: 5px"
      ></p>
      <b _ngcontent-ng-c3962699040="">Abonentning xisob-kitobi</b>
      <table
        _ngcontent-ng-c3962699040=""
        border="1"
        style="border-color: #ccc; border-collapse: collapse"
      >
        <thead _ngcontent-ng-c3962699040="">
          <tr _ngcontent-ng-c3962699040="">
            <th _ngcontent-ng-c3962699040="">Davr</th>
            <th _ngcontent-ng-c3962699040="">Davr boshi saldo</th>
            <th _ngcontent-ng-c3962699040="">Hisoblandi</th>
            <th _ngcontent-ng-c3962699040="">Naqd to`lovlar</th>
            <th _ngcontent-ng-c3962699040="">Pul o`tkazmalari(1031)</th>
            <th _ngcontent-ng-c3962699040="">Elektron to`lovlar</th>
            <th _ngcontent-ng-c3962699040="">MUNIS to`lovlar</th>
            <th _ngcontent-ng-c3962699040="">Akt</th>
            <th _ngcontent-ng-c3962699040="">Saldo oxiri</th>
            <th _ngcontent-ng-c3962699040="">Yashovchilar soni</th>
          </tr>
        </thead>
        <tbody _ngcontent-ng-c3962699040="">
          <% balanceDtoList.forEach(row => { %>
          <tr>
            <td><%= row.period %></td>
            <td><%= row.nSaldo %></td>
            <td><%= row.accrual %></td>
            <td><%= row.cashAmount %></td>
            <td><%= row.q1031Amount %></td>
            <td><%= row.eMoneyAmount %></td>
            <td><%= row.munisAmount %></td>
            <td><%= row.actAmount %></td>
            <td><%= row.kSaldo %></td>
            <td><%= row.inhabitantCount %></td>
          </tr>
          <% }) %>

          <!---->
        </tbody>
      </table>
    </div>
    <div _ngcontent-ng-c3962699040="" style="margin-top: 15px; display: flex">
      <ul _ngcontent-ng-c3962699040="" style="width: 80%">
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Tashkilot:</span
          ><span _ngcontent-ng-c3962699040="" class="value"
            >"ANVARJON BIZNES INVEST" MCHJ</span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Direktor:</span
          ><span _ngcontent-ng-c3962699040="" class="value"
            >Жумаева Гулмира</span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Manzil:</span
          ><span _ngcontent-ng-c3962699040="" class="value"
            >Самарқанд вилояти Каттақурғон тумани Муллакурпа МФЙ Чим ққ</span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Telefon:</span
          ><span _ngcontent-ng-c3962699040="" class="value">+998993381852</span>
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">E-Mail:</span
          ><span _ngcontent-ng-c3962699040="" class="value"
            >shersah401@gmail.com</span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Bank nomi:</span
          ><span _ngcontent-ng-c3962699040="" class="value"
            >АТБ "Қишлоқ кўрилиш банк" Каттақўрғон филиали</span
          >
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">STIR:</span
          ><span _ngcontent-ng-c3962699040="" class="value">303421898</span>
        </li>
        <li _ngcontent-ng-c3962699040="">
          <span _ngcontent-ng-c3962699040="">Bank rekviziti:</span
          ><span _ngcontent-ng-c3962699040="" class="value"
            >01037 , 20208000900611603001
            <!----></span
          >
        </li>
      </ul>
      <div _ngcontent-ng-c3962699040="" style="width: 20%">
        <img
          _ngcontent-ng-c3962699040=""
          width="120px"
          height="auto"
          alt="qr-code image"
          style="margin-left: auto; display: block"
          src="data:image/jpg;base64,<%= qrCodeImage %>"
          class="ng-star-inserted"
        /><!---->
      </div>
    </div>
  </div>
</div>
