<% rows.forEach(row => { %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Generator" content="Microsoft Word 15 (filtered)" />
    <style>
      /* Font Definitions */

      /* Style Definitions */
      p.MsoNormal,
      li.MsoNormal,
      div.MsoNormal {
        margin: 0in;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      .MsoChpDefault {
        font-family: "Calibri", sans-serif;
      }
      .MsoPapDefault {
        margin-bottom: 10pt;
        line-height: 115%;
      }
      /* Page Definitions */
      @page WordSection1 {
        size: 595.3pt 841.9pt;
        margin: 56.7pt 42.5pt 56.7pt 85.05pt;
      }
    </style>
  </head>

  <body lang="EN-US" style="word-wrap: break-word">
    <div class="WordSection1">
      <table
        class="MsoNormalTable"
        border="0"
        cellspacing="0"
        cellpadding="0"
        width="643"
        style="margin-left: 3.5pt; border-collapse: collapse"
      >
        <tr style="height: 55.85pt">
          <td
            width="313"
            valign="top"
            style="
              width: 234.5pt;
              padding: 0in 3.5pt 0in 3.5pt;
              height: 55.85pt;
            "
          >
            <p
              class="MsoNormal"
              align="center"
              style="margin-left: -3.5pt; text-align: center"
            >
              <span
                lang="RU"
                style="font-size: 14pt; font-family: 'Times Uzb Roman', serif"
                ><img
                  src="https://i.ibb.co/xFhyxpP/image001.png"
                  alt="image001"
                  border="0"
              /></span>
            </p>
            <p
              class="MsoNormal"
              align="center"
              style="margin-left: -3.5pt; text-align: center"
            >
              <span lang="RU" style="font-size: 6pt">&nbsp;</span>
            </p>
          </td>
          <td
            width="23"
            valign="top"
            style="width: 17.1pt; padding: 0in 3.5pt 0in 3.5pt; height: 55.85pt"
          >
            <p class="MsoNormal" style="margin-right: -230.3pt">
              <span lang="RU" style="font-size: 14pt">&nbsp;</span>
            </p>
          </td>
          <td
            width="307"
            valign="top"
            style="
              width: 230.35pt;
              padding: 0in 3.5pt 0in 3.5pt;
              height: 55.85pt;
            "
          >
            <p class="MsoNormal">
              <span lang="RU" style="font-size: 14pt">&nbsp;</span>
            </p>
            <p class="MsoNormal">
              <span lang="RU" style="font-size: 14pt">&nbsp;</span>
            </p>
            <p class="MsoNormal">
              <span lang="RU" style="font-size: 14pt">&nbsp;</span>
            </p>
            <p class="MsoNormal">
              <span lang="RU" style="font-size: 14pt">&nbsp;</span>
            </p>
          </td>
        </tr>
        <tr style="height: 39.15pt">
          <td
            width="313"
            valign="top"
            style="
              width: 234.5pt;
              padding: 0in 3.5pt 0in 3.5pt;
              height: 39.15pt;
            "
          >
            <p
              class="MsoNormal"
              align="center"
              style="
                margin-left: -3.5pt;
                text-align: center;
                text-autospace: none;
              "
            >
              <b
                ><span style="font-size: 14pt; font-family: 'Cambria', serif"
                  >ЎЗБEКИСТОН РEСПУБЛИКАСИ ПРОКУРАТУРАСИ САМАРҚАНД ВИЛОЯТ
                  КАТТАҚЎРҒОН ТУМАН ПРОКУРАТУРАСИ</span
                ></b
              >
            </p>
            <div
              style="
                border: none;
                border-bottom: double windowtext 4.5pt;
                padding: 0in 0in 1pt 0in;
              "
            >
              <p
                class="MsoNormal"
                align="center"
                style="
                  text-align: center;
                  text-autospace: none;
                  border: none;
                  padding: 0in;
                "
              >
                <span style="font-size: 10pt; font-family: 'Cambria', serif"
                  >Каттақўрғон тумани, Пайшанба шаҳарчаси</span
                >
              </p>
            </div>
            <p
              class="MsoNormal"
              align="center"
              style="margin-left: -3.5pt; text-align: center"
            >
              <span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                >2024 йил «___» январь</span
              >
            </p>

            <p
              class="MsoNormal"
              align="center"
              style="margin-left: -3.5pt; text-align: center"
            >
              <span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                >№ 10.</span
              ><span style="font-family: 'Cambria', serif">2</span
              ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                >/    </span
              ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"> </span
              ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                > -24</span
              >
            </p>
          </td>
          <td
            width="23"
            rowspan="2"
            valign="top"
            style="width: 17.1pt; padding: 0in 3.5pt 0in 3.5pt; height: 39.15pt"
          >
            <p class="MsoNormal" style="margin-right: -230.3pt">
              <span lang="UZ-CYR" style="font-size: 14pt">&nbsp;</span>
            </p>
          </td>
          <td
            width="307"
            rowspan="2"
            valign="top"
            style="
              width: 230.35pt;
              padding: 0in 3.5pt 0in 3.5pt;
              height: 39.15pt;
            "
          >
            <p class="MsoNormal" style="margin-right: -5.4pt">
              <span
                lang="UZ-CYR"
                style="font-size: 14pt; font-family: 'Cambria', serif"
                >       Фуқаролик ишлари бўйича    
              </span>
            </p>
            <p class="MsoNormal" style="margin-right: -5.4pt">
              <span
                lang="UZ-CYR"
                style="font-size: 14pt; font-family: 'Cambria', serif"
                >       Каттақўрғон туманлараро
              </span>
            </p>
            <p class="MsoNormal" style="margin-right: -5.4pt">
              <span
                lang="UZ-CYR"
                style="font-size: 14pt; font-family: 'Cambria', serif"
                >       судининг раиси</span
              >
            </p>
            <p
              class="MsoNormal"
              style="
                margin-top: 0in;
                margin-right: -5.4pt;
                margin-bottom: 0in;
                margin-left: -21.9pt;
                margin-bottom: 0.0001pt;
                text-indent: 21.9pt;
              "
            >
              <b
                ><span
                  lang="UZ-CYR"
                  style="font-size: 14pt; font-family: 'Cambria', serif"
                  >       З.У.Равшановга</span
                ></b
              >
            </p>
            <p
              class="MsoNormal"
              style="margin-left: 20.65pt; text-indent: -20.65pt"
            >
              <b
                ><span
                  lang="UZ-CYR"
                  style="font-size: 7pt; font-family: 'Cambria', serif"
                  >&nbsp;</span
                ></b
              >
            </p>
            <p
              class="MsoNormal"
              style="margin-left: 20.65pt; text-indent: -20.65pt"
            >
              <b
                ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                  >        Ундирувчи:
                </span></b
              ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                >Каттақўрғон </span
              ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                >туман прокурори, “ANVARJON BIZNES INVEST” МЧЖ Каттақўрғон туман
                филиалининг манфаатини кўзлаб</span
              >
            </p>
            <p
              class="MsoNormal"
              style="margin-left: 20.65pt; text-indent: -20.65pt"
            >
              <span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                >       
                <i
                  >(Каттақўрғон тумани “Муллакўрпа” МФЙ, Чим к.к, МФО 01037,
                  <br />
                  <b> </b>ИНН: 303421898, <br />
                  х/р 22604000105565269040,<br />
                  “ОРИЕНТ ФИНАНСБАНК” ХАТБ Тошкент шаҳар филиали)</i
                ></span
              >
            </p>
            <p
              class="MsoNormal"
              style="margin-left: 20.65pt; text-indent: -20.65pt"
            >
              <span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                >&nbsp;</span
              >
            </p>
            <p
              class="MsoNormal"
              style="margin-left: 20.65pt; text-indent: -20.65pt"
            >
              <b
                ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                  >        Қарздор:
                  <span style="color: red"
                    ><%= row.FISH %> ( ЖШШИР: <%= row.PINFL %> )</span
                  ></span
                ></b
              >
            </p>
            <p
              class="MsoNormal"
              style="margin-left: 20.65pt; text-indent: -20.65pt"
            >
              <b
                ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                  >        Манзили:</span
                ></b
              ><span lang="UZ-CYR" style="font-family: 'Cambria', serif">
                Каттақўрғон тумани <br />
                <span
                  >“<%= row.MFY %>” МФЙ, <br />
                  ШХР:</span
                ></span
              ><span
                lang="UZ-CYR"
                style="
                  font-size: 14pt;
                  font-family: 'Cambria', serif;
                  color: red;
                "
              >
                <%= row.KOD%></span
              >
            </p>
            <p
              class="MsoNormal"
              style="
                margin-top: 0in;
                margin-right: 17.6pt;
                margin-bottom: 0in;
                margin-left: 14.25pt;
                margin-bottom: 0.0001pt;
                text-align: justify;
                text-autospace: none;
              "
            >
              <b
                ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                  >   Қарздорлик  суммаси:
                </span></b
              >
            </p>
            <p
              class="MsoNormal"
              style="
                margin-top: 0in;
                margin-right: 17.6pt;
                margin-bottom: 0in;
                margin-left: 14.25pt;
                margin-bottom: 0.0001pt;
                text-align: justify;
                text-autospace: none;
              "
            >
              <b
                ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                  >  
                </span></b
              ><span
                lang="UZ-CYR"
                style="font-family: 'Cambria', serif; color: red"
                ><%= row.QARZ%> </span
              ><span lang="UZ-CYR" style="font-family: 'Cambria', serif"
                >сўм</span
              >
            </p>
          </td>
        </tr>
      </table>

      <p class="MsoNormal" align="center" style="text-align: center">
        <b
          ><span
            lang="UZ-CYR"
            style="font-size: 14pt; font-family: 'Cambria', serif"
            >&nbsp;</span
          ></b
        >
      </p>

      <p class="MsoNormal" align="center" style="text-align: center">
        <b
          ><span
            lang="UZ-CYR"
            style="font-size: 14pt; font-family: 'Cambria', serif"
            >А Р И З А</span
          ></b
        >
      </p>

      <p class="MsoNormal" align="center" style="text-align: center">
        <i
          ><span
            lang="UZ-CYR"
            style="font-size: 13pt; font-family: 'Cambria', serif"
            >(қарздорликни ундириш ҳақида)</span
          ></i
        >
      </p>

      <p class="MsoNormal" align="center" style="text-align: center">
        <i
          ><span
            lang="UZ-CYR"
            style="font-size: 14pt; font-family: 'Cambria', serif"
            >&nbsp;</span
          ></i
        >
      </p>

      <p class="MsoNormal">
        <span
          lang="UZ-CYR"
          style="font-size: 5pt; font-family: 'Cambria', serif"
          >&nbsp;</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 34pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
        >
          Туман прокуратураси томонидан Ўзбекистон Республикаси Президентининг
          22.11.2018 йилдаги ПФ-5580-сонли “Қаттиқ маиший чиқиндиларни тўплаш ва
          олиб чиқиш учун тўловларни тулаш тизимини тубдан такомиллаштириш
          чора-тадбирлари тўғрисида”ги Фармони ва 29.09.2020 йилдаги
          ПҚ-4845-сонли “Маиший ва қурилиш чиқиндилари билан боғлиқ ишларни
          бажариш тизимини янада такомиллаштириш чора-тадбирлари тўғрисида”ги
          қарори ижроси юзасидан Каттақўрғон туманида жойлашган “ANVARJON BIZNES
          INVEST” МЧЖ Каттақўрғон туман филиали фаолиятида ўтказилган таҳлил
          натижасида фуқаролар томонидан чиқинди пуллари тўланмасдан
          келинганлиги аниқланган.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 34pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >Аниқланишича, ундирувчи – “ANVARJON BIZNES INVEST” МЧЖ Каттақўрғон
          туман филиали ва
          <span style="color: red"
            >“<%= row.MFY %>” МФЙ ўртасида 2019 йил 01 январда</span
          >
          “Жисмоний шахсларга маиший чиқиндиларни тўплаш ва олиб чиқиш учун
          хизматлар кўрсатиш бўйича” оммавий шартнома тузилган бўлиб, қарздор
          <b><span style="color: red"><%= row.FISH%></span></b>
          мазкур шартномани тузиш тўғрисидаги оммавий таклиф (оферта)ни қабул
          қилган турар жой мулкдори ҳисобланади.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 34pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >Шартноманинг 4-бандига кўра Қарздор каттиқ ва суюқ маиший
          чиқиндиларни тўплаш ва олиб чиқиш бўйича кўрсатилган хизматлар учун
          тўловларни ушбу шартномада белгиланган муддатларда ўз вақтида ва тўлиқ
          миқдорда тўлашга мажбур ҳисобланади.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 34pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >Лекин, 25.01.2024 йил ҳолатига кўра
          <b><span style="color: red"><%= row.FISH%></span></b>
          шартномада кўрсатилган ҳизматлар учун Ундирувчидан
          <b><span style="color: red"><%= row.QARZ%> </span></b
          ><b><span style="color: red">сўм</span></b
          ><span style="color: red"> </span>қарздор бўлиб қолган.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 34pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >Ундирувчи томонидан Қарздорга мавжуд қарздорликни тўлаш ҳақида бир
          неча маротаба оғзаки ва ёзма огоҳлантириш хати берилганига қарамасдан,
          Қарздор шартномада белгиланган мажбуриятини бажармасдан
          келмоқда.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 34pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >Ўзбекистон Республикаси ФПКнинг 171-моддасида суд буйруғини бериш
          бўйича талаблар кўрсатиб ўтилган бўлиб, мазкур модданинг <br />
          3-бандида коммунал хизматлар ёки алоқа хизматлари тўлови бўйича
          қазрдорликни тасдиқловчи ҳужжатларга асосланган ундириш тўғрисида
          талаб арз қилинган бўлса суд буйруғи берилиши кўрсатилган.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 34pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >Шу боис, Қарздор
          <b><span style="color: red"><%= row.FISH%></span></b>
          “ANVARJON BIZNES INVEST” МЧЖ Каттақўрғон туман филиали фойдасига
          <b><span style="color: red"><%= row.QARZ%> </span></b
          ><b><span style="color: red">сўм</span></b> қарздорликни ундириш лозим
          бўлади.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 34pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >Юқоридагиларга кўра, Ўзбекистон Республикаси “Прокуратура
          тўғрисида”ги Қонунининг 41-моддаси ва Ўзбекистон Республикаси ФПКнинг
          170-174-моддаларига асосан,</span
        >
      </p>

      <p
        class="MsoNormal"
        align="center"
        style="text-align: center; text-indent: 35.4pt"
      >
        <b
          ><span
            lang="UZ-CYR"
            style="font-size: 14pt; font-family: 'Cambria', serif"
            >&nbsp;</span
          ></b
        >
      </p>

      <p class="MsoNormal" align="center" style="text-align: center">
        <b
          ><span
            lang="UZ-CYR"
            style="font-size: 14pt; font-family: 'Cambria', serif"
            >С Ў Р А Й М А Н:</span
          ></b
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 14.2pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >1. Қарздор
          <b><span style="color: red"><%= row.FISH%></span></b>
          “ANVARJON BIZNES INVEST” МЧЖ Каттақўрғон туман филиали фойдасига
          <b><span style="color: red"><%= row.QARZ%> </span></b
          ><b>сўм</b> қарздорликни Каттақўрғон тумани учун очилган МФО 01037,
          ИНН: <a name="_Hlk157184236">303421898</a>, х/р
          22604000105565269040,“ОРИЕНТ ФИНАНСБАНК” ХАТБ Тошкент шаҳар филиали
          транзит хисоб рақамга ундиришингизни.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 14.2pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >2. Тўланадиган давлат божини қарздор зиммасига юклашингизни.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 14.2pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >3. Тўланган почта харажатларини МФО 01037, ИНН: 303421898, х/р
          20208000900611603001 “Бизнесни Ривожлантириш банки” Тошкент ш.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 14.2pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >4. Аризага мувофиқ чиқариладиган суд буйруғи нусҳасини туман
          прокуратураси ва “ANVARJON BIZNES INVEST” МЧЖ Каттақўрғон туман
          филиалига юборишингизни.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 14.2pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >       </span
        ><b
          ><span
            lang="UZ-CYR"
            style="font-size: 13pt; font-family: 'Cambria', serif"
            >Илова:</span
          ></b
        ><span
          lang="UZ-CYR"
          style="font-size: 13pt; font-family: 'Cambria', serif"
        >
          Ҳужжатлар _______ варақда.</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify; text-indent: 14.2pt">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >&nbsp;</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify">
        <span
          lang="UZ-CYR"
          style="font-size: 14pt; font-family: 'Cambria', serif"
          >&nbsp;</span
        >
      </p>

      <p class="MsoNormal" style="text-align: justify">
        <b
          ><span
            lang="UZ-CYR"
            style="font-size: 14pt; font-family: 'Cambria', serif"
            >Туман прокурори</span
          ></b
        >
      </p>

      <p class="MsoNormal">
        <b
          ><span
            lang="UZ-CYR"
            style="font-size: 14pt; font-family: 'Cambria', serif"
            >адлия
            маслаҳатчиси                                                       
            Ш.С.Холмурзаев</span
          ></b
        >
      </p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </body>
</html>
<% }) %>
