<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 20px;
      }
      table {
        overflow: hidden;
        border-collapse: collapse;
        padding: 10px;
      }
      h2 {
        text-align: center;
      }
      h3 {
        margin: 5px;
        line-height: 15px;
      }
      div {
        display: inline-block;
        position: relative;
      }
      th,
      td {
        border: 1px solid black;
        padding: 2px 5px;
        margin: 0;
        border-collapse: collapse;
      }
      td {
        text-align: right;
      }
      p {
        text-decoration: underline;
      }
      th {
        background-color: rgb(151, 218, 253);
      }
      td:last-child {
        text-align: right;
      }
      .left {
        text-align: left;
      }
      #oliy_ong {
        position: absolute;
        top: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <div>
      <i style="color: blue" id="oliy_ong">Oliy Ong</i>
      <h2>Тушумлар таҳлили</h2>
      <h3><%= sana %></h3>
      <!-- <h3>${newJSON.davr}</h3>-->
      <h3>Каттақўрғон туман / "ANVARJON BIZNES INVEST" MCHJ</h3>
      <table cellscasing="0">
        <tr>
          <th>№</th>
          <th>Махалла</th>
          <th>Режа</th>
          <th>Жами тушумлар</th>
          <th>Фоизда</th>
          <th>Фарқи</th>
        </tr>
        <% data.forEach( (mfy, i) => { %>
        <tr>
          <td><%= i+1 %></td>
          <td align="left" class="left"><%= mfy.name %></td>
          <td>
            <%= Math.floor(mfy.xisoblandi).toLocaleString().replace(/,/g, " ")
            %>
          </td>
          <td>
            <%= Math.floor(mfy.tushum).toLocaleString().replace(/,/g, " ") %>
          </td>
          <td align="center">
            <%= Math.round( (mfy.tushum / mfy.xisoblandi + Number.EPSILON) *
            1000 ) / 10 %>%
          </td>
          <td>
            <%= Math.floor(mfy.tushum - mfy.xisoblandi) .toLocaleString()
            .replace(/,/g, " ") %>
          </td>
        </tr>
        <% }) %> <% if(jamiXisoblandi && jamiTushum){ %>
        <tr>
          <td></td>
          <td></td>
          <th>
            <%= Math.floor(jamiXisoblandi) .toLocaleString() .replace(/,/g, " ")
            %>
          </th>
          <th>
            <%= Math.floor(jamiTushum) .toLocaleString() .replace(/,/g, " ") %>
          </th>
          <th align="center">
            <%= Math.round( (jamiTushum / jamiXisoblandi + Number.EPSILON) *
            1000 ) / 10 %> %
          </th>
          <th>
            <%= Math.floor(jamiTushum - jamiXisoblandi) .toLocaleString()
            .replace(/,/g, " ") %>
          </th>
        </tr>
        <% }%>
      </table>
      <footer><b>Бажарувчи: Шамшод Неъматуллаев</b></footer>
    </div>
  </body>
</html>
