<html>
  <head>
    <title> </title>
    <style type="text/css" rel="stylesheet">
      * {
        font-size: 12px;
        justify-content: center;
        text-align: justify;
      }

      .qr-code {
        width: 100px;
        height: 100px;
      }

      .col {
        flex: 30%;
        padding: 18px;
        height: auto;
      }

      @media screen and (max-width: 800px) {
        .col {
          width: 80%;
        }

        hr {
          width: 1px;
          border: 1px dashed hsla(200, 10%, 50%, 100);
        }
      }

      hr {
        border: none;
        border-left: 1px dashed hsla(200, 10%, 50%, 100);
        width: 1px;
      }

      .tabs,
      .tabbed-content {
        float: none;
      }

      .break-after {
        display: flex;
        page-break-after: always !important;
        position: relative;
      }
    </style>
  </head>
  <body>
    <main style="display: flex">
      <table style="padding-bottom: 215px">
        <tr>
          <td>
            <div class="col">
              <div>
                <h3 style="text-align: center">
                  ОГОХЛАНТИРИШ ХАТИ <span fp="fp_nomer"></span>
                </h3>
              </div>
              <table
                style="
                  width: 100%;
                  margin-bottom: 12px;
                  display: flex;
                  justify-content: space-around;
                  margin-top: 2px;
                "
              >
                <tr>
                  <td>
                    <span fp="new_date"><%= abonent.SANA %></span>
                  </td>
                  <td></td>
                  <td style="padding-left: 90px">
                    <span fp="district">Каттақўрғон туман </span
                    ><span
                      style="font-weight: bold; margin-left: 2px"
                      fp="company_name"
                      >"ANVARJON BIZNES INVEST" MCHJ</span
                    >
                  </td>
                </tr>
              </table>
              <div style="margin-top: 5px; width: 100%">
                <br />

                Хурматли абонент
                <span style="font-weight: bold" fp="ab_fio"
                  ><%= abonent.FISH %>
                </span>
                Сиз истикомат килаётган
                <span style="font-weight: bold" fp="ab_mahallas"
                  ><%= abonent.MFY %></span
                >
                МФЙ/ОФЙ манзили
                <span style="font-weight: bold" fp="ab_streets"
                  ><%= abonent.STREET %></span
                >
                кучаси <span style="font-weight: bold" fp="ab_home">-+</span> -
                уйдан қаттиқ маиший чиқиндиларни олиб чиқиб кетувчи хизмат
                кўрсатаётган корхона билан Ўзбекистон Республикаси Вазирлар
                Маҳкамасининг 2018 йил 25 сентябрьдаги №765-сонли қарорига
                асосан сизнинг хонадонингиз номидан юқорида қайд қилинган
                МФЙ/ОФЙ раҳбарияти томонидан “Жисмоний шахсларга маиший
                чиқиндиларни тўплаш ва олиб чиқиш учун хизматлар кўрсатиш
                бўйича” оммавий шартномаси имзоланган хамда қаттиқ маиший
                чиқинди тўловлари учун СИЗГА
                <span style="font-weight: bold" fp="ab_licshet"
                  ><%= abonent.KOD %></span
                >
                -сонли хисоб раками очилган. Узбекистон уй –жой тугрисидаги
                кодекснинг 133-моддасида “Коммунал хизматлари учун мажбурий
                туловлар совук ва иссик сув таъминоти, сувни чикариб юбориш
                (канализатция), электр таъминоти, иситиш (иссиклик таъминоти),
                каттик ва суюк маиший чикиндиларни олиб чикиш учун туланадиган
                туловлардан иборат” эканлиги белгиланган.
                <span style="font-weight: bold">Шартнома шартларига</span>
                асосан агарда Сиз каттик маиший чикиндиларни туплаш ва олиб
                чикиш учун
                <span fp="saldo_k" style="font-weight: bold"
                  ><%= abonent.SALDO %></span
                >
                сум туловни уз вактида амалга оширмасангиз, кайд килинган
                карздорликни мажбурий ундириш учун
                <span style="font-weight: bold">СУДга</span> даъво аризаси
                киритилиб,
                <span style="font-weight: bold"
                  >мажбурий ундирувга каратилади.</span
                >
                <br />
                Мавжуд қарздорликни Сизга қулай бўлган усулда почта алоқа
                бўлимлари, банк шахобчалари, хизмат кўрсатувчи корхона
                назоратчиларига ёки бошқа тўлов тизимлари (PAYNET, CLICK, PAYME
                ва бошқалар) орқали амалга оширишингиз мумкин. <br />
                <span style="font-weight: bold"
                  >Агарда белгиланмаган жойларга каттик маиший чикиндиларни ва
                  курилиш чикиндиларини ташлаш, шунингдек суюк маиший
                  чикиндиларни тукиш
                </span>
                Узбекистон Республикаси Маъмурий Жавобгарлик тугрисидаги
                Кодекснинг 91/1-моддаси билан энг кам иш хаккининг бир кисмидан
                уч бараваригача микдорида жарима солиниши хакида
                ОГОХЛАНТИРАМИЗ!!!
                <table style="width: 100%; margin-top: 15px">
                  <tbody>
                    <tr>
                      <td>
                        <div>
                          <span style="font-weight: bold">Корхона раҳбари</span>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                      <td>
                        <div>
                          <span style="font-weight: bold"
                            >___________________</span
                          >
                        </div>
                      </td>
                      <td>А.Садриддинов</td>
                    </tr>
                    <tr>
                      <td>
                        <div>
                          <span style="font-weight: bold">Назоратчиси</span>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                      <td>
                        <div>
                          <span style="font-weight: bold"
                            >___________________</span
                          >
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
          <td>
            <div class="col">
              <div>
                <h3 style="text-align: center">
                  ОГОХЛАНТИРИШ ХАТИ <span fp="fp_nomer"></span>
                </h3>
              </div>
              <table
                style="
                  width: 100%;
                  margin-bottom: 12px;
                  display: flex;
                  justify-content: space-around;
                  margin-top: 2px;
                "
              >
                <tr>
                  <td>
                    <span fp="new_date"><%= abonent.SANA %></span>
                  </td>
                  <td></td>
                  <td style="padding-left: 90px">
                    <span fp="district">Каттақўрғон туман </span
                    ><span
                      style="font-weight: bold; margin-left: 2px"
                      fp="company_name"
                      >"ANVARJON BIZNES INVEST" MCHJ</span
                    >
                  </td>
                </tr>
              </table>
              <div style="margin-top: 5px; width: 100%">
                <br />
                Хурматли абонент
                <span style="font-weight: bold" fp="ab_fio"
                  ><%= abonent.FISH %>
                </span>
                Сиз истикомат килаётган
                <span style="font-weight: bold" fp="ab_mahallas"
                  ><%= abonent.MFY %></span
                >
                МФЙ/ОФЙ манзили
                <span style="font-weight: bold" fp="ab_streets"
                  ><%= abonent.STREET %></span
                >
                кучаси <span style="font-weight: bold" fp="ab_home">-+</span> -
                уйдан қаттиқ маиший чиқиндиларни олиб чиқиб кетувчи хизмат
                кўрсатаётган корхона билан Ўзбекистон Республикаси Вазирлар
                Маҳкамасининг 2018 йил 22 сентябрьдаги №765-сонли қарорига
                асосан сизнинг хонадонингиз номидан юқорида қайд қилинган
                МФЙ/ОФЙ раҳбарияти томонидан “Жисмоний шахсларга маиший
                чиқиндиларни тўплаш ва олиб чиқиш учун хизматлар кўрсатиш
                бўйича” оммавий шартномаси имзоланган хамда қаттиқ маиший
                чиқинди тўловлари учун СИЗГА
                <span style="font-weight: bold" fp="ab_licshet"
                  ><%= abonent.KOD%></span
                >
                -сонли хисоб раками очилган. Узбекистон уй –жой тугрисидаги
                кодекснинг 133-моддасида “Коммунал хизматлари учун мажбурий
                туловлар совук ва иссик сув таъминоти, сувни чикариб юбориш
                (канализатция), электр таъминоти, иситиш (иссиклик таъминоти),
                каттик ва суюк маиший чикиндиларни олиб чикиш учун туланадиган
                туловлардан иборат” эканлиги белгиланган.
                <span style="font-weight: bold">Шартнома шартларига</span>
                асосан агарда Сиз каттик маиший чикиндиларни туплаш ва олиб
                чикиш учун
                <span fp="saldo_k" style="font-weight: bold"
                  ><%= abonent.SALDO %></span
                >
                сум туловни уз вактида амалга оширмасангиз, кайд килинган
                карздорликни мажбурий ундириш учун
                <span style="font-weight: bold">СУДга</span> даъво аризаси
                киритилиб,
                <span style="font-weight: bold"
                  >мажбурий ундирувга каратилади.</span
                >
                <br />
                Мавжуд қарздорликни Сизга қулай бўлган усулда почта алоқа
                бўлимлари, банк шахобчалари, хизмат кўрсатувчи корхона
                назоратчиларига ёки бошқа тўлов тизимлари (PAYNET, CLICK, PAYME
                ва бошқалар) орқали амалга оширишингиз мумкин. <br />
                <span style="font-weight: bold"
                  >Агарда белгиланмаган жойларга каттик маиший чикиндиларни ва
                  курилиш чикиндиларини ташлаш, шунингдек суюк маиший
                  чикиндиларни тукиш
                </span>
                Узбекистон Республикаси Маъмурий Жавобгарлик тугрисидаги
                Кодекснинг 91/1-моддаси билан энг кам иш хаккининг бир кисмидан
                уч бараваригача микдорида жарима солиниши хакида
                ОГОХЛАНТИРАМИЗ!!!
                <table style="width: 100%; margin-top: 15px">
                  <tbody>
                    <tr>
                      <td>
                        <div>
                          <span style="font-weight: bold"
                            >Корхона раҳбари
                          </span>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                      <td>
                        <div>
                          <span style="font-weight: bold"
                            >___________________</span
                          >
                        </div>
                      </td>
                      <td>А.Садриддинов</td>
                    </tr>
                    <tr>
                      <td>
                        <div>
                          <span style="font-weight: bold">Назоратчиси</span>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                      <td>
                        <div>
                          <span style="font-weight: bold"
                            >___________________</span
                          >
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td>
                        <div>
                          <span style="font-weight: bold"
                            >“Бир нусхасин” олдим
                          </span>
                        </div>
                      </td>
                      <td>
                        <div>
                          <span
                            >_____________ <br />
                            <span style="font-size: 10px">(Сана)</span></span
                          >
                        </div>
                      </td>
                      <td>
                        <div>
                          <span
                            >_____________ <br />
                            <span style="font-size: 10px">(Имзо)</span></span
                          >
                        </div>
                      </td>
                      <td>
                        <div>
                          <span fp="ab_fio"><%= abonent.FISH%> </span>
                          <br />
                          <span style="font-size: 10px">(Истемолчи ФИШ )</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </main>
  </body>
</html>
