<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
      <style>
        p{
          font-size: 14pt;
          text-align: justify;
        }
        li{
          font-size: 14pt;
        }
      </style>
</head>

<body>
  <% rows.forEach(row=> { %>

    <h3 style="text-align: center">СУД БУЙРУҒИ</h3>
    <p style="text-align: right">2-1402-2301/6064</p>
    <p>
      <span style="background: white">
    </p>
    <p style="text-align: justify; font-size: 14pt;">
      13.10.2023 йилда фуқаролик ишлари бўйича Каттақўрғон туманлараро судининг раиси Равшанов Зафар Усманович, аризачи Ўзбекистон Республикаси Савдо-саноат палатаси Самарқанд вилоят ҳудудий бошқармаси ундирувчи &ldquo;Анваржон Бизнес Инвест&rdquo; МЧЖ манфаатини кўзлаб қарздор <%= row.FISH %>дан дебитор қарздорликни ундириш ҳақида суд буйруғини чиқариш тўғрисидаги аризасини кўриб чиқиб, Ўзбекистон Республикаси ФПК 171, 178 - моддаларини қўллаб,
    </p>
    <h4 style="text-align: center">БУЮРАМАН:</h4>
    <br>
    <p style="text-align: justify; font-size: 14pt;">

      Қарздор, Каттақўрғон тумани, &ldquo;<%= row.MFY %>&rdquo; МФЙ <%= row.STREET %> қишлоқ\кўчада яшовчи ( <%=
            `${row.PINFIL}`.slice(1,3)+"."+`${row.PINFIL}`.slice(3,5)+".19"+`${row.PINFIL}`.slice(5,7) %> йилда туғилган, фуқаролик паспорт маълумотлари <%= row.PASSPORT%>, ЖШИР: <%= row.PINFIL%>, иш жойи номаълум) <%=
                  row.FISH %>дан ундирувчи &ldquo;Анваржон Бизнес Инвест&rdquo; МЧЖнинг фойдасига маиший чиқиндиларни олиб чиқиш учун жами <%= row.QARZ.toLocaleString() %> сўм ва 16.500 сўм олдиндан тўланган почта харажати ундирилсин.
    </p>
    <ol style="list-style-type: decimal; font-size: 14pt;">
       <li style="text-align: justify; font-size: 14pt;"><p style="text-align: justify; font-size: 14pt;">
        Қарздор <%= row.FISH %>дан асосий қарз <%= row.QARZ.toLocaleString() %> сўм Банк: &ldquo;Ориент Финанс банк&rdquo; АТБ (МФО:01071, ИНН:309841086, Х/Р:22604000105565269040) га ундирилсин<span style="font-size: 14pt">.</p>
      </li>
       <li style="text-align: justify; font-size: 14pt;"><p style="text-align: justify; font-size: 14pt;">
        Қарздор <%= row.FISH %>дан почта ҳаражати 16.500 сўм (МФО 01097, Х/Р:20208000900611603001, ИНН:303421898)га ундирилсин.
      </p></li>
       <li style="text-align: justify; font-size: 14pt;"><p style="text-align: justify; font-size: 14pt;">
        Қарздор <%= row.FISH %>дан давлат фойдасига 330.000 сўм миқдорида давлат божи ундирилсин.
      </p>  </li>
    </ol>
    <p style="text-align: justify; font-size: 14pt;">
      Суд буйруғининг кўчирма нусхасини олган кундан эътиборан ўн кунлик муддат ичида қарздор арз қилинган талабга қарши ўз эътирозларини буйруқни чиқарган судга юборишга ҳақли.
    </p>
    <p>

    </p>
    <h3 style="display: flex;">
      <strong>Суд раиси&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;З.У.Равшанов</strong>
    </h3>
    <% }); %>
</body>

</html>