<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 20px;
      }
      table {
        overflow: hidden;
        border-collapse: collapse;
        padding: 10px;
      }
      h2 {
        text-align: center;
      }
      h3 {
        margin: 5px;
        line-height: 15px;
      }
      div {
        display: inline-block;
        position: relative;
      }
      th,
      td {
        border: 1px solid black;
        padding: 2px 5px;
        margin: 0;
        border-collapse: collapse;
        font-weight: bold;
      }
      td {
        text-align: right;
      }
      p {
        text-decoration: underline;
      }
      th {
        background-color: rgb(151, 253, 171);
      }
      td:last-child {
        text-align: right;
      }
      .left {
        text-align: left;
      }
      .hiraqator{
        background-color: #ccc;
      }
      .text-red{
        color: red;
      }
      .text-green{
        color: green;
      }
      #oliy_ong {
        position: absolute;
        top: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <div>
      <i style="color: blue" id="oliy_ong">Oliy Ong</i>
      <h2 style="color: red">Дебитор қарздорлик</h2>
      <table cellscasing="0">
        <tr>
          <th>№</th>
          <th style="width: 210px">Ҳудуд</th>
          <th style="width: 150px">
            <%= "01."+ (date.getMonth() > 8 ? date.getMonth() +1 :
            "0"+(date.getMonth() +1)) + "."+date.getFullYear()+" " %>йил ҳолатига
            дебитор <i>(сўмда)</i>
          </th>
          <th style="width: 150px">
            <%= (date.getDate() > 8 ? date.getDate() : "0"+date.getDate() )
            +"."+ (date.getMonth() > 8 ? date.getMonth() +1 :
            "0"+(date.getMonth() +1)) + "."+date.getFullYear()+" " %>йил <%=
            date.getHours() %>:00 ҳолатига дебитор <i>(сўмда)</i>
          </th>
          <th>Ўсиши <br>(+/-) <br><i>(сўмда)</i></th>
        </tr>
        <% data.forEach( (hudud, i) => { %>
        <tr class="<%= i%2===0 ? "hiraqator": '' %>" style="padding: 2px 0;">
          <td><%= i+1 %></td>
          <td align="left" class="left"><%= hudud.name %></td>
          <td>
            <%= Math.floor(hudud.debet_n).toLocaleString().replace(/,/g, " ")
            %>
          </td>
          <td>
            <%= Math.floor(hudud.debet_k).toLocaleString().replace(/,/g, " ")
            %>
          </td>
          
          <td class="<%= hudud.debet_k - hudud.debet_n > 0 ? "text-red" : "text-green"  %>">
            <%= Math.floor(hudud.debet_k - hudud.debet_n) .toLocaleString()
            .replace(/,/g, " ") %>
          </td>
        </tr>
        <% }) %> 
        <tr>
          <td></td>
          <td></td>
          <th>
            <%= Math.floor(jamiDebitN) .toLocaleString() .replace(/,/g, " ")
            %>
          </th>
          <th>
            <%= Math.floor(jamiDebitK) .toLocaleString() .replace(/,/g, " ") %>
          </th>
          <th>
            <%= Math.floor(jamiDebitK - jamiDebitN) .toLocaleString()
            .replace(/,/g, " ") %>
          </th>
        </tr>
      </table>
      <!-- <footer><i>Oliy Ong</i></footer> -->
    </div>
  </body>
</html>
