<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      #sarlavha {
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        font-family: "Arial";
        font-size: 28pt;
        background-color: white;
      }
      .header td {
        vertical-align: middle;
        text-align: center;
        border-bottom: 2px solid #000000 !important;
        border-top: 1px solid #000000 !important;
        border-left: 2px solid #000000 !important;
        border-right: 1px solid #000000 !important;
        font-weight: bold;
        font-family: "Arial";
        font-size: 26pt;
        background-color: #ccffff;
      }
      .korsatkich td {
        vertical-align: middle;
        text-align: center;
        border-bottom: 2px solid #000000 !important;
        border-top: 2px solid #000000 !important;
        border-left: 2px solid #000000 !important;
        border-right: 2px solid #000000;
        font-style: italic;
        font-family: "Arial";
        font-size: 26pt;
        background-color: #ccffff;
      }
      .jamiViloyat {
        height: 48.75pt;
      }
      .jamiViloyat td {
        vertical-align: middle;
        text-align: center;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 2px solid #000000 !important;
        border-left: 2px solid #000000;
        border-right: 1px solid #000000 !important;
        font-weight: bold;
        font-family: "Arial";
        font-size: 22pt;
        background-color: #ccffcc;
      }
      .row {
        height: 48pt;
      }
      .row td {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #000000 !important;
        border-top: 2px solid #000000 !important;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000000 !important;
        font-family: "Arial";
        font-size: 22pt;
        background-color: #ffffff;
        white-space: nowrap;
      }
      .red{
        color: red;
      }
      .green{
        color: rgb(0, 176, 80);
      }
    </style>
  </head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      id="sheet0"
      class="sheet0 gridlines"
    >
      <tbody>
        <tr>
          <td id="sarlavha" colspan="10">
            Аҳолидан маиший чиқиндилар учун
            <span
              style="
                font-weight: bold;
                color: #000000;
                font-family: 'Arial';
                font-size: 28pt;
              "
              >дебиторлик ва уларнинг ундирилиши буйича</span
            ><span
              style="
                font-weight: bold;
                color: #000000;
                font-family: 'Arial';
                font-size: 28pt;
              "
              ><br />
              МАЪЛУМОТ</span
            >
          </td>
        </tr>
        <tr>
          <td style="font-size: 26pt; font-family: Arial" colspan="10">
            <i><%= sana%></i>
          </td>
          <td style="font-size: 26pt; font-family: Arial; text-align: right">
            <i>млн.сўмда</i>
          </td>
        </tr>
        <tr class="header">
          <td rowspan="2">№</td>
          <td rowspan="2">
            Туман ва шаҳарлар<br />
            номи
          </td>
          <td rowspan="2" style="padding: 5px 25px;">
            <span
              style="
                font-weight: bold;
                color: #0066cc;
                font-family: 'Arial';
                font-size: 26pt;
              "
              >01.<%= oy%>.2024 йил</span
            ><span
              style="
                font-weight: bold;
                color: #ff0000;
                font-family: 'Arial';
                font-size: 26pt;
              "
            >
            </span
            ><span
              style="
                font-weight: bold;
                color: #000000;
                font-family: 'Arial';
                font-size: 26pt;
              "
              >ҳолатига дебитор қарздорлик
            </span>
          </td>
          <td rowspan="2" style="padding: 5px 25px;">Бир кунлик РЕЖА</td>
          <td rowspan="2" style="padding: 5px 25px;">
            Кунлик тушум<br />
            <span
              style="
                font-weight: bold;
                color: #000000;
                font-family: 'Arial';
                font-size: 16pt;
              "
              >(<%= sana%> й <br />
              <%= vaqt%> ҳолатига)</span
            >
          </td>
          <td colspan="2">Фарқи</td>
          <td rowspan="2" style="padding: 5px 25px;">
            <span
              style="
                font-weight: bold;
                color: #0066cc;
                font-family: 'Arial';
                font-size: 26pt;
              "
              >Апрель ойи <br />
              РЕЖАСИ</span
            ><span
              style="
                font-weight: bold;
                color: #000000;
                font-family: 'Arial';
                font-size: 26pt;
              "
            >
              <br /> </span
            ><span
              style="
                font-weight: bold;
                color: #000000;
                font-family: 'Arial';
                font-size: 16pt;
              "
              >(8 ой муддатда қисқартириш режа-графиги)</span
            ><span
              style="
                font-weight: bold;
                color: #000000;
                font-family: 'Arial';
                font-size: 26pt;
              "
            >
            </span>
          </td>
          <td rowspan="2">
            Ой бошидан<br />
            тушум
          </td>
          <td colspan="2">Фарқи</td>
        </tr>
        <tr class="korsatkich">
          <td style="padding: 5px 25px;">(+/-)</td>
          <td style="padding: 5px 25px;">(%)</td>
          <td style="padding: 5px 25px;">(+/-)</td>
          <td style="padding: 5px 25px;">(%)</td>
        </tr>
        <tr class="jamiViloyat">
          <td colspan="2" style="text-align: left">Жами вилоят бўйича</td>
          <td><%= jamiViloyat.debitor%></td>
          <td><%= jamiViloyat.daily_plan%></td>
          <td><%= jamiViloyat.daily_income%></td>
          <td><%= jamiViloyat.daily_plan_diff_summ %></td>
          <td><%= jamiViloyat.daily_plan_diff_procent %></td>
          <td><%= jamiViloyat.monthly_plan %></td>
          <td><%= jamiViloyat.monthly_income %></td>
          <td><%= jamiViloyat.monthly_plan_diff_summ %></td>
          <td><%= jamiViloyat.monthly_plan_diff_procent %>%</td>
        </tr>
        <% rows.map((row, i) => { %>
        <tr class="row">
          <td><%= i+1 %></td>
          <td style="text-align: left"><%- row.name%></td>
          <td><%= row.debitor%></td>
          <td><%= row.daily_plan%></td>
          <td><%= row.daily_income%></td>
          <td><%= row.daily_plan_diff_summ%></td>
          <td class="<%= row.daily_plan_diff_procent > 100 ? "green": 'red' %>"><%= row.daily_plan_diff_procent%>%</td>
          <td><%= row.monthly_plan%></td>
          <td><%= row.monthly_income%></td>
          <td><%= row.monthly_plan_diff_summ%></td>
          <td class="<%= row.monthly_plan_diff_procent > jamiViloyat.monthly_plan_diff_procent ? "": 'red' %>"><%= row.monthly_plan_diff_procent%>%</td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
