<!DOCTYPE html>
<html lang="en">
  <style>
    table {
      border-collapse: collapse;
      font-family: sans-serif;
    }
    table * {
      padding: 5px;
      border-color: #000;
    }
    th {
      font-size: 18px;
      font-family: "Franklin Gothic Heavy", "Arial Narrow", Arial, sans-serif;
      background-color: rgb(124, 124, 217);
    }
    tr th:nth-child(3) {
      padding: 5px 10px;
    }
    tr td:nth-child(3) {
      padding: 5px 20px;
    }
    tr td:nth-child(1) {
      text-align: center;
    }
    tr td:nth-child(4) {
      text-align: right;
    }
    td {
      /* font-weight: bold; */
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .red{
      color: red;
    }
  </style>
  <body>
    <div>
      <table border="1">
        <tr>
          <th>№</th>
          <th>ФИО</th>
          <th>Манзил</th>
          <th>Қарздорлик</th>
        </tr>
        <% data.forEach((row, i) => { %>
        <tr class="<%= row.saldo_k > 400000 ? "red" : "" %>">
          <td><%= i+1 %></td>
          <td><%= row.fio %></td>
          <td><%= row.streets_name %></td>
          <td><%= row.saldo_k.toLocaleString().replace(/,/g, " ") %></td>
        </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
